{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<form method="POST" action="{% url 'vote:change_password' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ change_password_form }}
    <button type="submit" class="btn btn-light btn-sm py-2 fw-bold text-dark">
        <i class="fas fa-lock me-2"></i>Chỉnh sửa mật khẩu
    </button>
</form>