{% extends "vote/master.html" %}

{% block content %}
<div>
    <h2>Welcome {{ user.name }}</h2>
    <a href="{% url 'vote:logout' %}">Logout</a>
    {% if candidates %}
    <div class="d-flex flex-row w-100">
        {% for candidate in candidates %}
            <div class="card mx-2 p-2">
                <img src="media/{{ candidate.image }}" class="card-img-top" alt="{{ candidate.name }}" height="300px" style="object-fit: contain">
                <h2>{{ candidate.name }}</h2>
                <div class="d-flex flex-row gap-2">
                    <a href="{% url 'vote:candidate_detail' candidate.id %}" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#candidateModal{{ candidate.id }}">
                        View Details
                    </a>
                    <form method="POST" action="{% url 'vote:vote' candidate.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg">Vote</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No candidates available.</p>
    {% endif %}
</div>
{% endblock %}