Django~=4.2.21
django-bootstrap-v5
pillow
asgiref
beautifulsoup4
django-bootstrap-v5
django-extensions
django-mssql-backend
mssql-django
pillow
pydot
pyodbc
pyparsing
pytz
soupsieve
sqlparse
typing_extensions
tzdata
django-admin-rangefilter
bcrypt